:root{
    --black:#0C0C0D;
    --black-light:#353840;
    --more-light:#A6A6A6;
    --ultra-more-light:#F2F2F2;
    --buttom-color:linear-gradient(#F2D750,#fbe578c0); 
}
 

@font-face {
    font-family: 'header';
    src: url('fonts/Prata-Regular.ttf');
}

@font-face {
    font-family: 'body';
    src: url('fonts/Inter-VariableFont_slntwght.ttf');
}

/* start general configurations */
body{
    display: grid;
    grid-template-columns:repeat(12,1fr);
    row-gap: 30px;
    background-color: var(--black);
    min-width: 530px ;
}

*{
    font-family: 'body';
    color: var(--more-light);
    font-size: small;
}

h1, h2{
    font-family: 'header';
    color: var(--ultra-more-light);
    font-size: x-large;
}
   

button{
    height: 40px;
    width: 100px;
    transition: ease-in 0.4s;
    background-image: var(--buttom-color);
    color: black;
}

button:hover{
    transform: scale(1.08);
}


article, footer{
    grid-column: 2 / 12;
}

/* end general configurations */

/* start header */
header{
    grid-column: 2 / 12;
    padding: 20px 0px;
}

nav,nav > ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
/* end header */
/* start about */
.about{
    grid-column: 2 / 8;

}

.about h1{
    font-size: 50px;
}

.about p{
    font-size: 18px;
}
/* end about */
/* start user-companies  */
.user-companies ul{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}
/* end user-companies  */
/* start services */
.services,
.co-founder{
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.services > section > *,
.co-founder > section > * {
    max-width: 530px;
    margin: 4px 0px;
}

.services .first-page,
.co-founder .first-page {
   grid-column: 2 / 7;
}
.services .second-page,
.co-founder .second-page {
    grid-column: 7 / 12;
}

.co-founder{
    background-color: #353840;
}

.co-founder section > *{
    margin: 20px 0px;
}

.work-with-me{
    display: grid;
    row-gap: 10px;
}

footer{
    display: flex;
    justify-content: space-between;
}

footer > ul{
    display: flex;
    column-gap: 10px;
}

footer a{
    font-size: large;
}
/* end services */